.collapse {
  .collapse-title {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .collapse-content {
    transition: .7s max-height;
    max-height: 0;
    overflow: hidden;
    &.open {
      max-height: 3000px;
    }
  }
}