.search-container {
  display: flex;
  position: absolute;
  z-index: 100;
  transition: .3s transform;
  &.collapse2-close {
    transform: translateX(-300px);
  }

  .search-panel {
    background-color: #f5f5f5;
    width: 300px;
    height: 100vh;
    padding-bottom: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .3s;
    &.collapse1-close {
      height: 10vh;
      overflow: hidden;
    }
  
    .box-bg {
      background-color: white;
      padding: 5px 8px;
    }
    
    .search-style {
      border-radius: 10px;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.2);

      .search-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px 10px 0 0;
        padding: 5px 15px;
        margin-bottom: 5px;

        &.collapse1-close {
          border-radius: 10px;
        }
      }
    
      .record-item {
        display: flex;
        align-items: center;
        padding: 5px 15px;
        cursor: pointer;
        
        &:hover {
          background-color: $hover-bg;

          > .cross {
            width: 8px !important;
            height: 8px !important;
          }
        }
      }
      
      .record-item + .record-item {
        border-top: 0.5px solid rgba(0, 0, 0, 0.1);
      }

      .filterAddressResult-item {
        padding: 5px 15px;
      }
    }
  }

  .collapse1 {
    width: 300px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    &.collapse1-close {
      position: absolute;
    }

    &:hover {
      background-color: $hover-bg;
    }
  }

  .collapse2 {
    height: 40px;
    transform: translateY(15px);
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 5px;
    cursor: pointer;
  }
}

.mobile {
  .search-container {
    width: 100%;
    .search-panel {
      width: 100%;
      &.collapse1-close {
        height: 7vh;
        padding-bottom: 0;
      }
    }

    .collapse1 {
      width: 100%;
    }
  }
}